src/main/mule/sampleapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2cd1ce6f-3380-4925-b685-d85f335c6d39" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleapiFlow" doc:id="4258552b-1c22-4ba0-8056-f687aa1ccbf7" >
		<http:listener doc:name="Listener" doc:id="52fb94ea-e48f-4249-9d84-ae66f51f7556" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="f1ff9602-47ac-44c3-9534-a9701891e38c" message='#["Hello World API is sucess"]'/>
	</flow>
</mule>
